
// charts.component.css

.charts-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.charts-container .chart {
  margin-bottom: 20px;
}

.charts-container .chart:last-child {
  margin-bottom: 0;
}

.charts-container .chart .chart-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.charts-container .chart .chart-content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}
